body {
    color: black;
    background-color: bisque;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
}

#S1 {
    border: 3px black solid;
    border-radius: 2px;
}

#table1 {
    border: 2px solid black;
} 

th {
    border: solid black 2px;

}